.capa{
    width: 320px;
    background-color: #00143f;
    border: 1px solid #00143f;
    padding: 5px;
    margin-bottom: 5px;
    
}
.capa2{
    width: 220px;
    background-color: #00143f;
    border: 1px solid #00143f;
    padding: 5px;
    margin-bottom: 5px;
    
}
.capa3{
    width: 220px;
    background-color: #00143f;
    border: 1px solid #00143f;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: chartreuse;
}
.abs-center {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* min-height: 100vh; */
  }